PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI2Y2M1YmU2NS1kODYxLTQ1ZTAtYWViNy04YTgzMDdjODRlYTAiLCJlbWFpbCI6Im5pY29sYXMubGFmYXkwMUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiYjQ2YTliOTE0OTg1YmYyMThjMDQiLCJzY29wZWRLZXlTZWNyZXQiOiJlYmI4YTE1MDM3OTY0OGNmMGY5ZmQ0NGQwODUxODA4OWZjZWQ0MWFmNGZhYWVlMjhlZDM4ZGQ5MDM4MGUzNTU5IiwiZXhwIjoxNzU4NTE3MzE3fQ.3l7qf9LXGHOI9UJFpqysq0qiGMEfjPnQycHOk9nOE88
GATEWAY_URL=gold-intimate-ostrich-580.mypinata.cloud
BASE_URL=http://localhost:3000 # this will be your vercel url when you deploy
ALCHEMY_URL=3n8JNbC6MDoVs2J86A9cw6bRdY5_pXox
PRIVATE_KEY=9068daa27992dfafb44dc80c4620d1bbcf10ffff1ab6c08522c6c9eb011a377d
CONTRACT_ADDRESS=0xad26276264ce432ba4da4a7ecf205ddd080ddbf8
