PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI2Y2M1YmU2NS1kODYxLTQ1ZTAtYWViNy04YTgzMDdjODRlYTAiLCJlbWFpbCI6Im5pY29sYXMubGFmYXkwMUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiNmFkNzNiNzUyYTYyZTExNzgwMWQiLCJzY29wZWRLZXlTZWNyZXQiOiIyODgzNjRmNWQ1NTkyNWY1ZTg0Y2Y1NDg3NmI0YzI4NDIyNmY5ZjIwOTczYzFjYmFlZjdjYmIyMjhjYWQ2NzY2IiwiZXhwIjoxNzU4NTMwNDA0fQ.YJYYS55FrpUyQI8EXnV2KC-UFtJYJ3SFX1K9PS4cEqE
GATEWAY_URL=gold-intimate-ostrich-580.mypinata.cloud
BASE_URL=http://localhost:3000 # this will be your vercel url when you deploy
ALCHEMY_URL=https://base-mainnet.g.alchemy.com/v2/3n8JNbC6MDoVs2J86A9cw6bRdY5_pXox
PRIVATE_KEY=9068daa27992dfafb44dc80c4620d1bbcf10ffff1ab6c08522c6c9eb011a377d
CONTRACT_ADDRESS=0x3d49f8388cb62b33ae405b1418ac630ebd91da88
